:root {
	--border-radius: 15px;
	--cc-bg: transparent;

	--widget-background: rgba(26, 255, 238, 0.05);
	--noti-bg-alpha: 0.6;
	--padding: calc(var(--border-radius) / 2);
}

* {
	font-size: 12px;
	color: rgb(166, 230, 235);
}

.blank-window {
	background: none;
}

.control-center {
	background: rgba(43, 85, 101, 0.4);

	backdrop-filter: blur(50px);
	border-radius: 20px;
	border: 1px solid rgba(102, 146, 163, 0.8);
	border-radius: 10px;
	backdrop-filter: blur(200px);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .6);
	padding: 0;
	margin: 0;

}

.widgets>.widget,
.widget-mpris>carouselindicatordots {
	background: var(--widget-background);
	border-radius: var(--border-radius);
	padding: calc(var(--border-radius) / 2);
}

.widget-mpris>carouselindicatordots {
	border: var(--border);

}

.widgets>.widget-notifications {
	background: rgba(43, 85, 101, 0.5);
	background: transparent;
	padding: 0;
	/* border: var(--border); */


}

.widget-mpris>box>button {
	background: var(--widget-background);
	border-radius: var(--border-radius);
	padding: calc(var(--border-radius) / 2);
	/* border: var(--border); */
	padding: 0px;
	margin: 0px;
}

.widget-mpris>box {
	padding: 0px;
	margin: 0px;
}

.control-center-list-placeholder {
	padding: none;
	visibility: hidden;
}

.notification-group {
	background-color: transparent;
	/* border-radius: var(--border-radius); */
	padding: 0px;
}

.widgets>.widget-mpris {
	background: transparent;
	border-radius: 0;
	/* border: 1px solid rgba(102, 146, 163, 0.3); */
	border-radius: 24px;
	padding: 2;
}

.widget.widget-mpris>carouselindicatordots {
	--dots-padding: 4px;
	padding: var(--dots-padding);
	padding-left: var(--dots-padding);
	padding-right: calc(6px + var(--dots-padding));
	margin: 0;
	margin-top: var(--padding);
}

.widget-mpris>box>button:hover {
	background: rgba(46, 46, 46, 1);
	background: rgba(46, 46, 46, 0.5);
}

.widget-mpris-player {
	box-shadow: none;
	/* border: var(--border); */
	margin: 0 var(--padding);
}

.widget-mpris-player:only-child {
	margin: 0;
}

/* NOTIFFS */

.floating-notifications.background .notification-row .notification-background {
	background: alpha(rgba(43, 85, 101, 1), 0.75);
	box-shadow: none;
	border: 1px solid rgba(26, 255, 238, 0.3);
	border-radius: 24px;
	margin: 16px;
	padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
	min-height: 3.4em;
}

.notification {
	border: 1px solid rgba(26, 255, 238, 0.3);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .6);
	background: alpha(rgba(43, 85, 101, 1), 0.75);
	padding: 0;
}

.notification:hover {
	/* background-color: rgba(43, 85, 101, 1); */
	border: 1px solid rgba(26, 255, 238, 1.0);
}
