
# Ignore everything
*

# But not these directories
!i3/
!i3blocks/
!alacritty/
!nvim/
!normalCmds/
!picom/
!polybar/
!redshift/
!gtk-4.0/
!gtk-2.0/
!gtk-3.0/
# And not their contents
!normalCmds/**
!i3/**
!i3blocks/**
!alacritty/**
!nvim/**
!.gitignore
!picom/**
!polybar/**
!redshift/**
!gtk-4.0/**
!gtk-2.0/**
!gtk-3.0/**
!gtk-4.0/**
!gtk-2.0/**
!gtk-3.0/**