
# Ignore everything
*

# But not these directories
!i3/
!i3blocks/
!alacritty/
!nvim/
!normalCmds/
!picom/
!polybar/
!redshift/
# And not their contents
!normalCmds/**
!i3/**
!i3blocks/**
!alacritty/**
!nvim/**
!.gitignore
!picom/**
!polybar/**
!redshift/**