* {
	font-family: AdwaitaSans, sans-serif;
	font-weight: 800;
	font-size: 13px;
}

window#waybar {
	background-color: transparent;
}

#workspaces,
#mpris,
#clock,
#pulseaudio,
#pulseaudio-mic,
#cpu,
#memory,
#tray,
#custom-power,
#network,
#custom-cava,
#custom-dunst,
#custom-notification {
	background-color: rgba(21, 40, 48, 0.7);
	/* padding: 0.3rem 0.7rem; */
	padding: 0rem 0.7rem;
	margin-bottom: 5px;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border: none;
	min-width: 0;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	color: #babbf1;
	font-family: JetBrains Mono Nerd Font;
}

#workspaces {
	padding: 0 0.12rem;
	padding-top: 0.15rem;
	padding-bottom: 0.15rem;
	margin-left: 7px;
	font-family: inherit;
	/* don't override for workspaces */
}

#workspaces button {
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	padding-left: 4px;
	padding-right: 7.5px;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	font-weight: 400;
	color: #babbf1;
	border: none;
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
}

#workspaces button:hover {
	background-color: transparent;
}

#workspaces button.active {
	color: #99d1db;
	background-color: rgba(153, 209, 219, 0.1);
}

#workspaces button.urgent {
	padding-left: 5px;
	padding-right: 10px;
	background-color: #eb4d4b;
}

#custom-dunst,
#custom-notification {
	font-weight: 100;
	background-color: rgba(21, 40, 48, 0.6);
	padding: 0 18px 0 15px;
}

#pulseaudio,
#memory {
	background-color: rgba(21, 40, 48, 0.6);
	padding-right: 10px;
}

#network {
	padding-right: 0;
}

#cpu {
	padding-right: 12px;
}

#custom-power {
	background-color: rgba(233, 0, 0, 0.3);
	padding-left: 14px;
	margin-right: 7px;
}

#custom-power:hover {
	background-color: rgba(233, 0, 0, 0.6);
}

#workspaces:hover,
#mpris:hover,
#clock:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#custom-dunst:hover,
#custom-notification:hover,
#tray:hover,
#network:hover,
#custom-cava:hover {
	background-color: rgb(6, 60, 83);
}

#custom-cava {
	font-weight: 800;
	color: #ebc932;
}
